<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootique Mvc Mustache Demo</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Page Content -->
<div>
    {{#model}}
        <h1>{{userName}}</h1>

        <p class="lead">Say Hello to {{displayName}}</p>
    {{/model}}

</div>
</body>
</html>
